<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
  <extension
      point="org.eclipse.core.runtime.applications">
    <application
        id="com.github.cabutchei.wtpcomponent.ls.app">
      <run
          class="com.github.cabutchei.wtpcomponent.lsp.app.WtpComponentApplication">
      </run>
    </application>
  </extension>
</plugin>
